body {
  overflow-y: hidden;
}

body::-webkit-scrollbar-track {
  background-color: #222;
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: #222;
}

body::-webkit-scrollbar-thumb {
  background-color: #FF7851;
}

body.loaded {
  overflow-y: auto;
}

.navbar {
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.main-carousel {
  max-height: 100vh;
}

.main-carousel .carousel-inner, .main-carousel .carousel-inner .carousel-item {
  max-height: 100vh;
}

.birdLoader {
  position: relative;
  height: 200px;
  width: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 35px 65px 65px 35px;
      grid-template-rows: 35px 65px 65px 35px;
  -ms-grid-columns: 35px 30px 35px;
      grid-template-columns: 35px 30px 35px;
}

.birdLoader__red {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  width: 100px;
  height: 200px;
  border-radius: 100px 0 0 100px;
  background: #aa3623;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-animation: red 2s ease-in-out infinite;
          animation: red 2s ease-in-out infinite;
}

.birdLoader__white {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  height: 130px;
  width: 65px;
  border-radius: 65px 0 0 65px;
  background: #fff;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-animation: white 2s ease-in-out infinite;
          animation: white 2s ease-in-out infinite;
}

.birdLoader__grey {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  height: 65px;
  width: 65px;
  border-radius: 0 0 0 65px;
  background-color: #e7e7e7;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-animation: grey 2s ease-in-out infinite;
          animation: grey 2s ease-in-out infinite;
}

.birdLoader__yellow {
  grid-column: -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  height: 65px;
  width: 65px;
  border-radius: 0 65px 0 0;
  background-color: #f7ce42;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: yellow 2s ease-in-out infinite;
          animation: yellow 2s ease-in-out infinite;
  z-index: 1;
}

.birdLoader__orange {
  grid-column: -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  height: 35px;
  width: 35px;
  border-radius: 0 0 30px 0;
  background-color: #f7a500;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: orange 2s ease-in-out infinite;
          animation: orange 2s ease-in-out infinite;
  z-index: -1;
}

.birdLoader__blue {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #18233e;
  -webkit-animation: blue 2s ease-in-out infinite;
          animation: blue 2s ease-in-out infinite;
}

@-webkit-keyframes red {
  25%, 50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes red {
  25%, 50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes white {
  25%, 50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  75%, 100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes white {
  25%, 50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  75%, 100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes grey {
  25%, 50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  75%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes grey {
  25%, 50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  75%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes yellow {
  25%, 50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  75%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes yellow {
  25%, 50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  75%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes orange {
  25%, 50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes orange {
  25%, 50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes blue {
  25%, 50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  75%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes blue {
  25%, 50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  75%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.preloader {
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 1;
}

.loaded .preloader {
  opacity: 0;
  z-index: -9999;
}

.services .d-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.services .services-icon {
  width: 100px;
  height: 100px;
  background-color: #FF7851;
  color: #FFFFFF;
  font-size: 32px;
}

.services .services-icon:hover {
  background-color: #F3969A;
}

.uppercase {
  text-transform: uppercase;
}

.fw-600 {
  font-weight: 600;
}

.fs-24p {
  font-size: 24px;
}

.flex-100 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
  .flex-md-50 {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .flex-lg-25 {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    max-width: 25%;
  }
}
/*# sourceMappingURL=style.css.map */