.preloader {
    position: fixed;
    z-index: 9999;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 1;

    .loaded & {
        opacity: 0;
        z-index: -9999;
    }
}

.services {
    .service {
        margin-bottom: 32px;
        max-width: 605px;
        text-align: right;

        @media screen and (max-width: 1200px) {
            margin-left: auto;
            margin-right: auto;
        }

        &:hover .services-icon {
            background-color: $color-secondary;
        }
    }

    .service:nth-child(2n) {
        text-align: left;
        margin-left: auto;

        .d-block {
            order: 1;
            padding-right: 0 !important;
            padding-left: 16px;
        }
    }

    .d-block {
        flex: 1;
        padding-right: 16px;
    }

    .services-icon {
        width: 100px;
        height: 100px;
        background-color: $color-danger;
        color: #FFFFFF;
        font-size: 32px;
        transition: ease-in-out .2s;
    }
}